main {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.kalkulator-wrapper {
    margin-top: 50px;
    width: 200px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-auto-rows: 30px;
}

button {
    height: 100%;
}

.display {
    grid-column-start: 1;
    grid-column-end: 6;
    border-style: solid;
}
